# Build
bin/
obj/
out/
*.exe
*.dll

# User configs
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/

# ASP.NET & Entity Framework
*.db
*.db-shm
*.db-wal

# Test
TestResults/
*.coverage
*.coveragexml
*.trx

# Logs
*.log

# Publish
publish/
dist/

# Secrets & config locais
appsettings.Development.json
secrets.json

# Sistema
.DS_Store
Thumbs.db
